<section id = "Contacto">
        <h2>&#11165 Dirección</h2>
        <!--<p>La Victoria - Pujilí. Barrio Centro, 11 de Noviembre</p>-->
        <table >
           
            <tr class="contactos">
                <td class="td5">La Victoria - Pujilí. Barrio Centro, 11 de Noviembre</td>
            </tr>
                                      
        </table>
        <h2>&#x2709 Email</h2>
        <email>
        <!--<p> <a href="mailto:email@email.com">email@email.com</a> </p>-->
        <table >
               
            <tr class="contactos">
                <td>
                    <a href="mailto:email@email.com" class="td6">email@gmail.com</a>
                </td>
                                        
            </tr>
                        
        </table>
        <h2>&#9743 Teléfono</h2>
        <!--<p> <a href="tel:(+593) 98 323 13">(+593) 98 323 1313</a></p>-->
        <table >
            
            <tr class="contactos">
                <td>
                    <a href="tel:(+593) 98 323 13"class="td7">+593 87654321</a>
                </td>                
            </tr>
                          
        </table>
</section>