<section id= "Encabezado">
    <table>
            
        <tr class="cuerpo">
            <td class="td1">Date un gusto!</td>
            <td class="td2">Pasteles hechos con amor para un día especial</td>
        </tr>
                            
    </table>
    <button>EXPLORAR</button>
</section>